annotated-types==0.5.0
    # via pydantic
antlr4-python3-runtime==4.11.1
    # via soda-core
backoff==2.2.1
    # via opentelemetry-exporter-otlp-proto-http
certifi==2023.5.7
    # via requests
charset-normalizer==3.2.0
    # via requests
click==8.1.5
    # via soda-core
deprecated==1.2.14
    # via opentelemetry-api
googleapis-common-protos==1.59.1
    # via opentelemetry-exporter-otlp-proto-http
idna==3.4
    # via requests
inflect==6.2.0
    # via soda-core
jinja2==3.1.2
    # via soda-core
markupsafe==2.1.1
    # via
    #   jinja2
    #   soda-core
opentelemetry-api==1.16.0
    # via
    #   opentelemetry-exporter-otlp-proto-http
    #   opentelemetry-sdk
    #   soda-core
opentelemetry-exporter-otlp-proto-http==1.16.0
    # via soda-core
opentelemetry-proto==1.16.0
    # via opentelemetry-exporter-otlp-proto-http
opentelemetry-sdk==1.16.0
    # via opentelemetry-exporter-otlp-proto-http
opentelemetry-semantic-conventions==0.37b0
    # via opentelemetry-sdk
protobuf==4.23.4
    # via
    #   googleapis-common-protos
    #   opentelemetry-proto
pydantic==2.0.2
    # via inflect
pydantic-core==2.1.2
    # via pydantic
requests==2.31.0
    # via
    #   opentelemetry-exporter-otlp-proto-http
    #   soda-core
ruamel-yaml==0.17.32
    # via soda-core
ruamel-yaml-clib==0.2.7
    # via ruamel-yaml
setuptools==68.0.0
    # via
    #   opentelemetry-api
    #   opentelemetry-sdk
soda-core==3.0.45
    # via soda-core-spark
soda-core-spark==3.0.45
    # via soda-core-spark-df
soda-core-spark-df==3.0.45
    # via -r requirements.in
sqlparse==0.4.4
    # via soda-core
typing-extensions==4.7.1
    # via
    #   inflect
    #   opentelemetry-sdk
    #   pydantic
    #   pydantic-core
urllib3==2.0.3
    # via requests
wrapt==1.15.0
    # via deprecated

# The following packages are considered to be unsafe in a requirements file:
# py4j
# pyspark
