[sources.sql_database.credentials]
drivername = "oracle+oracledb"
database = "ORCL"
password = "dltpass"  # Supplied in scripts/dlt-user.sql
username = "dlthub"  # Supplied in scripts/dlt-user.sql
host = "take it from `terraform output rds_endpoint`, remove the port suffix"
port = same as the host, just use port suffix

[destination.filesystem]
dataset_name = "mydataset"
bucket_url = "database"

[destination.snowflake.credentials]
# All of these can be obtained from running `terraform output snowflake_credentials` in the _infra_ folder.
database = "database" # please set me up!
password = "password" # please set me up!
username = "username" # please set me up!
host = "host" # please set me up!
warehouse = "warehouse" # please set me up!
role = "role" # please set me up!

[pipeline]
loader_file_format="parquet"
